.searchInput {
    font-size: 16px;
    border: none;
    width: 100%;
    letter-spacing: 0.4px;
}

.searchInput:focus,
.searchInput:focus-visible,
.searchInput:focus-within {
    outline: none;
}

.search {
    border: 1px solid rgba(145, 158, 171, 0.32);
    padding: 11px 17px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.search form {
    width: 100%;
}